* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;

}

ul {
    list-style: none;
}

.header {
    position: relative;
    z-index: 3;
}

.header__nav-bar {
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07); 
}

.nav-bar-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.list-flex {
    height: 99px;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    position: absolute;
    top: 53%;
    right: 100%;
    transform: translateY(-50%);
    margin: 0 40px 0 0;
}

.brand-logo-link svg {
    width: 51px;
    height: 51px;
}

.nav-bar__left {
    display: flex;
}

.nav-bar__left-items {
    display: flex;
    align-items: center;
}

.nav-bar__left-item .item-link {
    font-size: 0.88rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


.nav-bar__left-item:not(:first-child) {
    margin: 0 0 0 24px;
    
}

.nav-bar__right {
    display: flex;
    align-items: center;
}

.nav-bar__right a {
    font-size: 14px;
    
    font-weight: 600;
}

.item-link__location-wrapper {
    margin: 0 40px 0 0;
}

.item-link__location {
    display: flex;
    align-items: center;
    padding: 0 16px 0 0;
}

.item-link__location svg {
    width: 32px;
    padding: 0 8px 0 0;
}

.item-link__sign-in {
    margin: 0 16px 0 0;
}

.item-link__join-now {
    color: #fff;
    background-color: #000;
    
}

.item-link__sign-in:hover {
    background-color: rgba(0, 0, 0, .1);
    
}

.item-link__join-now:hover {
    background-color: rgba(0, 0, 0, .7);
}

.item-bp {
    padding: 7px 16px;
    border-radius: 50px;
    line-height: 1.2;
    border: 1px solid #000;
    display: inline-block;
    transition: all .2s ease;
}

.item-bp:active {
    transform: scale(0.95);
}

.item-hover-green:hover {
    color: #00754a;
}

.main__content-container {
    max-width: 1440px;
    margin: 32px auto;
}

.banner-flex {
    display: flex;
}

.inner-content-container {
    background-color: #006241;
}

.thumb-art {
    width: 50%;
    display: flex;
}

.banner-title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 48px;
    flex-basis: 50%;
}

.banner-title-content__inner {
    max-width: 83%;
}

.banner-title-content__inner > * {
    color: white;
}

.text-center {
    text-align: center;
}

.banner-title {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 24px;
    line-height: 1.2;
}

.banner-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}

.banner-button {
    display: inline-block;
    border-color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
}

.banner-button:hover {
    background-color: rgba(0,0,0,.2);
}

.light-hover-bg:hover {
    background-color: rgba(0,0,0,.1);
}

.flex-reverse {
    flex-direction: row-reverse;
}

.dark-green-background {
    background-color: #1e3932;
}

.yellow-background {
    background-color: #d69a2d;
}

.dark-green-text-color > * {
    color: #1e3932;
}

.dark-green-border {
    border-color: #1e3932;
}

.note-container-no-mb {
    margin-bottom: 0;
}

.inner-note {
    background: none;
}

.note-flex {
    flex-basis: unset;
    flex-grow: 1;
    padding: 32px 0; 
}

.note-content {
    padding:0 48px;
    font-size: 14px;
    line-height: 1.8;
}

.note-link {
    font-size: 14px;
    text-decoration: underline;
}

.note-link:hover {
    text-decoration: none;
}

.footer {
    padding: 24px 0;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.23);
}

.footer__nav-bar {
    max-width: 1440px;
    margin: 0 auto;
}

.footer__nav-bar-wrapper {
    display: flex;
}

.footer-column {
    width: 190px;
    max-width: 190px;
}

.footer-column:not(:first-child) {
    margin: 0 0 0 32px;
}

.footer-column__title {
    font-size: 19px;
    font-weight: normal;
    letter-spacing: -0.01rem;
    color: #000000DE;
    margin-bottom: 24px;
}

.footer-column__item {
    margin-bottom: 8px;
    padding: 8px 0;
}

.footer-column__item > .item-link {
    font-size: 16px;
    letter-spacing: -0.01rem;
    color: #00000094;
}

.footer-column__item > .item-link:hover {
    color: #000000DE;
}

.line-break {
    border: 0;
    margin: 0;
    padding: 32px 0;
}

.line-break::before {
    content: "";
    display: block;
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.footer__social-links {
    display: flex;
}

.social-icon {
    margin-right: 4px;
}

.social-icon > .item-link {
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

.sb-icon-hover {
    transition: all .2s ease-out;
    opacity: .1;
    transform-origin: center;
    transform: scale(.4);
    fill: transparent;
}

.item-link:hover .sb-icon-hover {
    transform: scale(1);
    fill: currentColor;
}

.sb-terms-links {
    display: flex;
    margin: 16px 0 4px 0;
}

.term-link:not(:first-child) {
    padding: 0 24px;
}

.term-link:first-child {
    padding-right: 24px;
}

.term-link:not(:last-child) {
    border-right: 1px solid #00000094;
}

.term-link > .item-link {
    font-size: 16px;
    color: #000000DE;
}

.term-link > .item-link:hover {
    text-decoration: underline;
}

.sb-copyright {
    padding: 16px 0;
    color: #00000094;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.01rem;
}
