
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    width: 100vw;
    height: 800px;
    border: 10px dashed #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: 3; */
    flex-basis: 300px;
    /* justify-content: space-around; */
}
.box {
    height: 200px;
    width: 30%;
}

.box p {
    color: #fff;
    font-size: 40px;
}

.box1 {
    background-color: #000000;
    flex-grow: 1;
}

.box2 {
    background-color: red;
    flex-grow: 2;
}

.box3 {
    background-color: aqua;
    flex-grow: 1;
}

#counter {
    font-size: 30px;
}

#title {
    font-size: 50px;
}

.paragraph-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    
    width: 200px;
}

.counter-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.counter-container img {
    width: 600px;
    height: 300px;
}

#omaga-img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

#theLe-img {
    display: none;
}

#btn {
    margin-top: 10px;
}
/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  transform: scale(0.96);
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}